@import '_mixins';

//custom reset
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display: block}
audio, canvas, video, progress {vertical-align: baseline; display: inline-block;*display: inline;*zoom: 1}
audio:not([controls]), [hidden], template {display: none;height: 0}
mark {background: none}
sub, sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline}
sup {top: -.5em}
sub {bottom: -.25em}
pre {overflow: auto}
code, kbd, pre, samp {font-family: monospace, monospace;font-size: 1em}
html, body {height: 100%;margin: 0}
html {
    > body {height: auto;min-height: 100%}
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}
a {
    color: #3399ff;
    text-decoration: none;
    outline: 0 none;
    &:hover {outline: 0 none}
    > img {border: 0}
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='color'],
input[type='url'],
input[type='image'],
input[type='tel'],
input[type='submit'],
input[type='file'],
input[type='range'],
input[type='reset'],
input[type='button'],
input[type='search'],
button,
textarea,
select {
    -webkit-appearance: none;
    outline: 0 none;
    @include box-sizing(border-box);
}
* {margin: 0;padding: 0;border-collapse: collapse; -webkit-tap-highlight-color: rgba(0,0,0,0)}
img {max-width: 100%;height: auto;width: auto\9}
p {padding-bottom: 28px}
ul, ol {list-style: none}
#wrap {
    min-height: 100%;
    @include position(absolute);
    text-align: center;
    overflow: hidden
}

//clearfix
.clear {clear: both}
.cfx:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0}
html[xmlns] .cfx {display: block}
* html .cfx {height: 1%}

//selection
::-moz-selection {color: #fff;background: #3399ff}
::selection {color: #fff;background: #3399ff}
::-moz-focus-inner {border: 0}

// Vertical align inside DIV
// <span class="valign">Some content</span>
// <span class="vfix"></span>

.valign {display: inline-block;vertical-align: middle; max-width: 98%}
.vfix {display: inline-block;height: 100%;vertical-align: middle;width: 0}

// Parent of .valign must have fixed height
.valign2 {position: relative;top: 50%;@include transform(translateY(-50%))}

// Wordpress classes
.alignleft {float: left}
.alignright {float: right}
.aligncenter {margin-left: auto;margin-right: auto}
img.aligncenter {margin-left: auto;margin-right: auto;display: block}

.googlemap img {max-width: none}

hr {
    background: #e1e1e1;
    height: 1px;
    border: 0 none;
    display: block;
    clear: both;
    margin: 20px 0;
}
strong {font-weight: 700}
// fullframe video
.fullframe {height: 0;margin: 0;overflow: hidden;padding-bottom: 56.25%;padding-top: 30px;position: relative;z-index: 0;
    > {
        iframe, object, embed {height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: -1;}
    }
}
input[type="submit"] {cursor: pointer}
textarea, button, a, input {@include transition(all, .5s)}

body {
    position: relative;
    font: 300 15px/22px $font;
    color: #323232;
    background-color: #b4b4b4;
    background-image: -webkit-linear-gradient(bottom, #fff, #e2e2e2);
    background-image: -moz-linear-gradient(bottom, #fff, #e2e2e2);
    background-image: -o-linear-gradient(bottom, #fff, #e2e2e2);
    background-image: -ms-linear-gradient(bottom, #fff, #e2e2e2);
    background-image: linear-gradient(to top, #fff, #e2e2e2);
}
.row {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
    position: relative;
    width: 1280px;
    @include box-sizing(border-box);
}

svg:not(:root) {
    overflow: hidden;
}
.hidden {
    height: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 0;
}

.wpcf7 {
    .screen-reader-response {display: none !important}
    .wpcf7-not-valid-tip {
        background: #eee;
        color: #ff5f5f;
        font: 400 12px/45px $font;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
    }
    .wpcf7-response-output {
        background:#fff;
        padding:2%;
        float:left;
        width:96%;
        display:none;
        margin: 20px 0;
        text-align:center;
        font: 400 12px/20px $font;
        &.wpcf7-validation-errors {
            background:#FF5F5F;
            color:#fff
        }
        &.wpcf7-mail-sent-ng {
            background:#1091ae;
            color:#fff
        }
        &.wpcf7-mail-sent-ok {
            background:#16A085;
            color:#fff
        }
    }
    .wpcf7-form-control-wrap {
        display: block !important;
        position: relative;
    }
    .ajax-loader {
        background: #fff;
        @include border-radius(50%);
        display: inline-block;
        margin: 0 -10px 0 10px;
        padding: 5px;
        vertical-align: middle;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    textarea {
        margin: 0 auto 17px;
        width: 100%;
        border: 0;
        height: 44px;
        padding: 0 12px;
        font: 300 14px $font;
        display: block;
        &:focus {

        }
    }

    textarea {
        resize: none;
        overflow: auto;
        height: 100px;
        padding: 10px;
        line-height: 20px
    }
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    > div {
        background: #323232;
        display: inline-block;
        font-size: 0;
        vertical-align: top;
        a {
            width: 48px;
            height: 48px;
            line-height: 48px;
            font-size: 22px;
            color: #fff;
            float: left;
            &:hover {
                background: #e74c3c;
            }
        }
    }
}

#logo {
    width: 320px
}

h1 {
    padding: 30px 0 30px;
    font: 600 36px/1 $font;
}

h2 {
    font: 300 20px/36px $font;
}

article {
    position: absolute;
    left: -999px;
    top: -999px;
    overflow: hidden;
    height: 0;
    width: 0
}


@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 960px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vk:before{content:'\e800'}
.icon-insta:before{content:'\e801'}

@include declare-font-face('fontello', 'fontello', 400);
@include declare-font-face('NeoSans', 'NeoSansW1G-Light', 300);
@include declare-font-face('NeoSans', 'NeoSansW1G-Regular', 400);
@include declare-font-face('NeoSans', 'NeoSansW1G-Medium', 500);

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @include svg-font-face('fontello', 'fontello', 400);
    @include svg-font-face('NeoSans', 'NeoSansW1G-Light', 300);
    @include svg-font-face('NeoSans', 'NeoSansW1G-Regular', 400);
    @include svg-font-face('NeoSans', 'NeoSansW1G-Medium', 500);
}
